<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,intial-scale-1.0"/>
        <title>Password Reset</title>
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
                margin:0;
                padding: 0;
                background-color: #f4f4f4;
               }
            .container{
                max-width: 600px;
                margin:0 auto;
                padding:20px;
                background-color: #f4f4f4;
                border: 1px solid grey;
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
            }
            .header{
                text-align: center;
                margin-bottom: 20px;
            }
            .content{
                padding: 0 20px;
            }
            .content p{
                font-size: 15px;
            }
            .content a{
                display: inline-block;
                background-color: #007bff;
                color:white;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 5px;
                margin-top:20px;
            }
            .footer{
                text-align: center;
                margin-top: 20px;
                color:white !important;
                text-decoration: none;
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Verify OTP</h1>
            </div>
            <div class="content">
                <p>Dear <%=name%>,</p>
                <p>
                    Your OTP is <%=otp%><br><br>
                   
                </p>
                <a href="http://localhost:5173/signupverifyotp/<%=token%>">Validate OTP</a>
            </div>
            <div class="footer">
                
            </div>
        </div>
    </body>
</html>